@import "@/styles/variables.scss";

.toolbar{
    padding: 1rem .5rem;
    background: rgb(134,51,18);
    background: linear-gradient(90deg, rgba(134,51,18,1) 0%, rgba(67,51,85,1) 21%, rgba(2,51,151,1) 53%);
    &_title{
        font-size: 1.2rem;
        color: #fff;
        @include flex_vertical_center();
        h1{
            margin-left: 1em;
            font-weight: bold;
        }
    }
    &_button{
        display: flex;
        cursor: pointer;
        i{
            font-size: 2.5rem;
        }
    }
}
