@import "@/styles/variables.scss";

.sidebar{
    @include position_fixed();
    &_background{
        @include position_fixed();
    }
    &_close-button{
        @include flex_horizontal_between();
        margin-bottom: 1em;
        h1{
            flex: 1;
            font-size: 1.2rem;
            text-align: center;
            color: #003399;
            margin-left: 1rem;
        }
        img{
            width: 1rem;
            cursor: pointer;
        }
        padding-bottom: 1em;
        border-bottom: 1px solid #ddd;
    }
    &_content{
        background-color: #fff;
        position: absolute;
        z-index: 2;
        width: 250px;
        height: 100%;
        overflow: auto;
        padding: 1em .5rem;
        box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.30);
        &::-webkit-scrollbar{
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #585858;
            width: 3px;
        }
        &::-webkit-scrollbar-track{
            background-color: #dbdbdb;
        }
        &-links{
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
        }
        &-link{
            text-align: center;
            // background: #ddd;
            background-image: url('../../assets/button.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: #fff;
            padding: .7rem;
            margin-top: 1em;
            border-radius: 1rem;
            &:hover{
                color: #42A5F5;
            }
        }
        &-logout{
            cursor: pointer;
            position: absolute;
            bottom: 1em;
            left: .5rem;
            right: .5rem;
            div {
                width: 100%;
                font-size: 1.1rem;
                @include flex_vertical_center();
                span {
                    flex: 1;
                    margin-left: .6rem;
                    padding: 5px 10px;
                    border-radius: 1rem;
                    background: #bae1fb;
                }
            }
        }
    }
}


.router-link-active{
    color: #b3d9f8
}

.open_sidebar-enter-active {
    transition: all .3s ease;
}
.open_sidebar-leave-active {
    transition: all .3s ease;
}
.open_sidebar-enter, .open_sidebar-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}