@import "@/styles/variables.scss";

.table{
    margin-top: 2em;
    overflow: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    &::-webkit-scrollbar{
        height: 3px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #585858;
        height: 2px;
    }
    &::-webkit-scrollbar-track{
        background-color: #dbdbdb;
    }
    font-size: .9rem;
    max-width: 1920px;
    table{
        border-collapse:collapse;
        width: 100%;
        text-align: left;
        overflow: auto;
        table-layout: fixed;
        thead {
            background: rgba(0, 51, 204, 0.27);
            th:first-child{
                border-radius: 0 0 0 10px;
            }
            th:last-child{
                border-radius: 0 0 10px 0;
            }
        }
        th, td{
            padding: 1.5em;
            text-align: center;
            line-height: 150%;
        }
        td {
            border-bottom: 1px solid #7c7c7c;
        }
    }
    &_action{
        margin-top: 1em;
        cursor: pointer;
        color: #42A5F5;
        &:first-child{
            margin-top: 0;
        }
        button {
            @include input_reset;
            cursor: pointer;
            width: 200px;
            height: 40px;
            border-radius: 2rem;
            color: #fff;
            font-size: .9rem;
            font-weight: bold;
            background: linear-gradient(90deg, rgba(191,42,42,1) 0%, rgba(150,41,146,1) 36%, rgba(112,25,171,1) 83%);
        }
    }
}

@media screen and (max-width: 1199px) {
    .table{
        table{
            width: 1100px;
        }
    }
}