@import "@/styles/variables.scss";

@mixin border(){
    border: 1px solid #5d5d5d;
}
 
@mixin input_style($height){
    @include input_reset();
    @include border();
    width: 300px;
    height: $height;
}

.login-page{
    @include flex_center();
}

.login{
    margin-top: 7em;
    border: 2px solid #003399;
    padding: 2em 4em;
    @include flex_center();
    color: #003399;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    
    h1 {
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-weight: 500;
    }

    &-form{
        display: grid;
        &_item{
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            label {
                font-size: .8rem;
            }
            input{
                margin-top: 5px;
                @include input_style(35px);
                padding: 1rem;
                padding-right: 35px;
                border: 2px solid #003399;
                border-radius: 1rem;
            }
            div {
                position: relative;
                img {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        button{
            margin-top: 2em;
            border-radius: 1rem;
            width: 200px;
            height: 35px;
            border: none;
            justify-self: center;
            cursor: pointer;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(90deg, #bf2a2a 0%, #962992 36%, #7019ab 83%);
            color: #fff;
            font-weight: bold;
        }
    }
}

@include media("phone"){
    .login{
        margin: 3em;
        padding: 2em;
        &-form{
            &_item{
                margin-top: 1em;
                flex-direction: column;
                input{
                    margin-top: .5em;
                }
                label{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}