@import "@/styles/variables.scss";

@mixin position_fixed(){
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

.navigation{
    &-toolbar{
        padding: 1em;
        background-color: #42A5F5;
        color: #fff;
        @include flex_horizontal_between();
        &_title{
            font-size: 1.4rem;
            @include flex_vertical_center();
            h1{
                @include flex_horizontal_center();
                i{
                    cursor: pointer;
                    margin-right: .5em;
                }
                margin-left: 1.5em;
                font-weight: 400;
            }
        }
        &_button{
            cursor: pointer;
            i{
                font-size: 2.5rem;
            }
        }
        &_actions{
           button{
                cursor: pointer;
                @include flex_center();
                @include input_reset();
                font-size: 1.1rem;
                i{
                    margin-right: .3rem;
                }
                background-color: #FFCC00;
                padding: .6rem;
                border-radius: .6rem;
                @include media("phone"){
                    border-radius: 50%;
                    i{
                        margin-right: 0;
                    }
                    span{
                        display: none;
                    }
                }
           }
        }
    }
    &-sidebar{
        @include position_fixed();
        &_background{
            @include position_fixed();
        }
        &_close-button{
            @include flex_horizontal_between();
            margin-bottom: 1em;
            h1{
                font-size: 1.1rem;
                font-weight: 300;
                // color: #585858;
            }
            img{
                cursor: pointer;
            }
            padding-bottom: 1em;
            border-bottom: 1px solid #ddd;
        }
        &_content{
            background-color: #fff;
            position: absolute;
            z-index: 2;
            width: 250px;
            height: 100%;
            overflow: auto;
            padding: 1em;
            box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.30);
            &::-webkit-scrollbar{
                width: 3px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #585858;
                width: 3px;
            }
            &::-webkit-scrollbar-track{
                background-color: #dbdbdb;
            }
            &-links{
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;
            }
            &-link{
                margin-top: 1em;
                &:hover{
                    color: #42A5F5;
                }
            }
            &-logout{
                cursor: pointer;
                position: absolute;
                bottom: 2em;
                color: #1b3cd1;
                font-size: 1.2rem;
                @include flex_vertical_center();
                i{
                    margin-left: .6rem;
                }
            }
        }
    }
}

.router-link-active{
    color: #42A5F5
}

.open_sidebar-enter-active {
    transition: all .3s ease;
}
.open_sidebar-leave-active {
    transition: all .3s ease;
}
.open_sidebar-enter, .open_sidebar-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}