@import "@/styles/variables.scss";

.navigation {
  @include flex_horizontal_between;
  background: rgba(0, 51, 204, 0.27);
  height: 60px;
  padding: 0 1rem;
  &__links {
    display: flex;
  }

  &__link {
    @include flex_vertical_center;
    font-size: 1.2rem;
    font-weight: bold;
    a {
      color: #000;
    }
    i {
      margin: 0 5px;
    }
  }

  &__actions {
    button {
      @include input_reset;
      cursor: pointer;
      width: 200px;
      height: 40px;
      border-radius: 2rem;
      color: #fff;
      font-size: .9rem;
      font-weight: bold;
      background: linear-gradient(90deg, rgba(191,42,42,1) 0%, rgba(150,41,146,1) 36%, rgba(112,25,171,1) 83%);
    }
  }
}

@include media("phone"){
  .navigation {
    &__actions {
      button {
        width: 170px;
        height: 35px;
        font-size: .8rem;
      }
    }
  }
}