@import "@/styles/variables.scss";

.navigation{
    &-toolbar{
        padding: 1em;
        background-color: #42A5F5;
        color: #fff;
        @include flex_horizontal_between();
        &_title{
            font-size: 1.4rem;
            @include flex_vertical_center();
            h1{
                @include flex_horizontal_center();
                i{
                    cursor: pointer;
                    margin-right: .5em;
                }
                margin-left: 1.5em;
                font-weight: 400;
            }
        }
        &_button{
            cursor: pointer;
            i{
                font-size: 2.5rem;
            }
        }
        &_actions{
           button{
                cursor: pointer;
                @include flex_center();
                @include input_reset();
                font-size: 1.1rem;
                i{
                    margin-right: .3rem;
                }
                background-color: #FFCC00;
                padding: .6rem;
                border-radius: .6rem;
                @include media("phone"){
                    border-radius: 50%;
                    i{
                        margin-right: 0;
                    }
                    span{
                        display: none;
                    }
                }
           }
        }
    }
}
