* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    color: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

body {
    background: #fff;
}

.modal-open{
    overflow: hidden;
}

button,
a,
input,
select,
label {
    font-family: inherit;
}

.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
