@import "@/styles/variables.scss";
@import '../../node_modules/sweetalert2/src/sweetalert2';
@import '../../node_modules/vue-loading-overlay/dist/vue-loading.css';

* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    color: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

body {
    background: #fff;
}

.modal-open{
    overflow: hidden;
}

.content{
    padding: 2em;
}

button,
a,
input,
select,
label {
    font-family: inherit;
}

.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.delete{
    background-color: #ff7777;
}

.edit, .save{
    background-color: #35fd50;
}

.new_form{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
    padding: 2rem;
    border-radius: 5px;

    &-input{
        margin-top: 1.5em;
        &:first-child {
            margin-top: 0;
        }
        display: flex;
        label{
            width: 280px;
            font-weight: bold;
        }
        input{
            width: 300px;
            padding: 7px;
            border-radius: 7px;
            border: 1px solid #b4b4b4;
        }
    }
    &-file{
        display: flex;
        flex-direction: column;
        text-align: center;
        label{
            width: 300px;
            padding: .5em;
            border-radius: 5px;
            border: 1px solid #b4b4b4;
            font-size: .9rem;
            color: #0665d1;
        }
        input[type=file]{
            display: none;
        }
        button{
            @include input_reset();
            cursor: pointer;
            margin-top: .7em;
            padding: .3em;
            border: 1px solid #ddd;
        }
    }
    &-access{
        display: flex;
        flex-direction: column;
        label{
            margin-top: 1em;
            width: 300px;
            &:first-child{
                margin-top: 0;
            }
        }
        input{
            width: 20px;
        }
    }
    &-actions{
        margin-top: 2rem;
        display: flex;
        border-top: 1px solid #ddd;
        button{
            margin-left: 280px;
            @include input_reset();
            cursor: pointer;
            margin-top: 1.5em;
            border-radius: 1rem;
            width: 200px;
            height: 35px;
            color: #fff;
            font-weight: bold;
            background: linear-gradient(90deg, #bf2a2a 0%, #962992 36%, #7019ab 83%);
        }
    }
}

@include media("phone"){
    .new_form{
        &-input{
            flex-direction: column;
            label{
                margin-bottom: 5px;
                width: 100%;
            }
            input{
                width: 100%;
            }
            input[type="checkbox"] {
                width: fit-content;
            }
        }
        &-actions{
            flex-direction: column;
            button {
                margin-left: 0;
            }
        }
    }
}