@import "@/styles/variables.scss";


.filter{
    @include flex_vertical_center();
}

.filter-item{
    max-width: 250px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #161616;
    color: #161616;
    .search-input{
        @include flex_vertical_center();
        i{
            position: absolute;
            padding-left: 5px;
        }
        input{
            @include input_reset();
            width: 100%;
            padding: 5px 5px 5px 30px;
        }
    }
    select{
        @include input_reset();
        width: 100%;
        padding: 5px;
    }
    margin-right: 1em;
}

.quantity{
    width: 200px;
    font-weight: 600;
}

@include media("phone"){
    .filter{
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-item{
        margin-top: 1em;
        &:first-child{
            margin-top: 0;
        }
    }
    .quantity{
        margin-top: 1em;
    }
}